// Colors
$color-white: hsl(0, 0%, 100%);
$color-cream: hsl(28, 38%, 92%);
$color-grey: hsl(228, 12%, 48%);
$color-green-100: hsl(157, 36%, 37%);
$color-green-200: hsl(157, 43%, 18%);
$color-black: hsl(212, 21%, 14%);

// Spacings
$spacing-160: 1.6rem;
$spacing-190: 1.9rem;
$spacing-200: 2rem;
$spacing-240: 2.4rem;
$spacing-320: 3.2rem;

// Media queries
$breakpoint-mobile: 76.8rem;
